body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background-color: #6b0606; /* Dark Red */
    padding: 10px 0;
    color: #fff;
}

.nav-bar {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}

.nav-bar a {
    color: #fff;
    text-decoration: none;
    align-self: center;
}

.nav-bar a:hover {
    color: grey; /* Lighter color when hovered */
    border-radius: 10px;
}

.logo img {
height: 50px;
width: 50px;
align-self: start;
}

main {
    margin: 15px;
}

.welcome-section {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5; /* Light gray background */
}

.welcome-section h1 {
    color: #6b0606; /* Dark Red */
}

.welcome-section p {
    color: #333; /* Dark text color */
}

.welcome-section a {
    color: #6b0606; /* Dark Red */
}

.welcome-section a:hover {
    color: #000; /* Black when hovered */
}

.section-two{
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5; /* Light gray background */

}

.section-two h1{
    color:#6b0606;
    padding: 20px;
}

hr {
    border: 1px solid #6b0606;
}

footer {
    padding: 10px;
    background-color: #6b0606; /* Dark Red */
    color: #fff;
    text-align: center;
}

.carousel {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.slide {
  flex: 1;
  transition: flex 0.5s ease;
  margin: 10px;
  z-index: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide:hover {
  flex-grow: 3;
  z-index: 2;
}

.center {
  flex-grow: 2;
  z-index: 3;
}

.center:hover {
  flex-grow: 4;
}

.left img {
  transform: perspective(1200px) rotateY(45deg);
}

.right img {
  transform: perspective(1200px) rotateY(-45deg);
}

.left:hover img {
  transform: perspective(1200px) rotateY(0deg);
}

.right:hover img {
  transform: perspective(1200px) rotateY(0deg);
}

footer a:hover{
  color:white;
}


